<ion-content>
  <h1 style="text-align: center">Reclamation</h1>
  <form
    #myForm="ngForm"
    (ngSubmit)="addReclamation()"
    style="margin-top: 30px"
    enctype="multipart/form-data"
  >
    <div class="form-field" style="padding: 28px">
      <ion-label [ngClass]="focused ? 'label-focused' : ''">Adresse</ion-label>
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="Adresse"
        [(ngModel)]="formData.adresse"
        type="text"
        style="padding-right: 10px"
        required
      ></ion-input>
    </div>
    <div class="form-field" style="margin-top: 20px">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Categorie</ion-label
      >
      <ion-select
        [(ngModel)]="categories"
        label="            "
        label-placement="stacked"
        (ionChange)="onChangee($event)"
      >
        <ion-select-option
          *ngFor="let i of categories"
          [value]="i.value"
          style="padding-right: 10px"
        >
          {{ i.value }}
        </ion-select-option>
      </ion-select>
    </div>

    <label class="custom-file-upload">
      <input
        name="myImage"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="file-input"
      />
      Choisir une photo
    </label>

    <div class="form-field" style="margin-top: 20px">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Description</ion-label
      >
      <ion-textarea
        class="custom-textarea"
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="description"
        [(ngModel)]="formData.description"
        [rows]="4"
        required
      ></ion-textarea>
    </div>
    <div style="margin-top: 60px">
      <img
        *ngIf="selectedFile"
        [src]="selectedFile"
        alt="Uploaded File"
        style="max-width: 350px; max-height: 300px; object-fit: contain"
      />
    </div>

    <div style="margin-top: 70px">
      <ion-button class="myButton" type="submit">Confirmer</ion-button>
    </div>
  </form>
</ion-content>
