<ion-content>
  <h1 style="text-align: center">Reclamation</h1>
  <!-- <h3>S'inscrire à Baladiti'!</h3> -->
  <form
    #myForm="ngForm"
    (ngSubmit)="addReclamation()"
    style="margin-top: 30px"
    enctype="multipart/form-data"
  >
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Description</ion-label
      >
      <ion-textarea
        labelPlacement="floating"
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="description"
        [(ngModel)]="formData.description"
        required
      ></ion-textarea>
    </div>
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Localisation</ion-label
      >
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="localisation"
        [(ngModel)]="formData.localisation"
        type="text"
        required
      ></ion-input>
    </div>
    <div class="form-field">
      <ion-select
        [(ngModel)]="categories"
        placeholder="Choisir une  catégorie"
        (ionChange)="onChangee($event)"
      >
        <ion-select-option
          *ngFor="let i of categories"
          [value]="i.value"
          style="padding-right: 10px"
        >
          {{ i.value }}
        </ion-select-option>
      </ion-select>
    </div>
    <img *ngIf="selectedFile" [src]="selectedFile" alt="Uploaded File" />
    <input
      name="myImage"
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*"
    />

    <!-- Upload Button -->
    <ion-button
      fill="outline"
      style="
        max-width: 100px;
        margin-top: 10px;
        margin-left: 20px;
        background-color: aliceblue;
      "
      (click)="uploadFile()"
      >Upload</ion-button
    >
    <ion-button class="myButton" type="submit">Confirmer</ion-button>
  </form>
</ion-content>
