<div
  style="
    width: 90%;
    padding: 1rem;

    border-width: 2px;
    box-shadow: 5px 5px 5px 5px rgb(175, 163, 163);
    border-radius: 3%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: white;
  "
>
  <div
    style="display: flex; flex-direction: row; border-bottom: 1px solid #639745"
  >
    <img
      src="reclamation.imageURL"
      style="
        height: 50px;
        width: 50px;
        margin-bottom: 1rem;
        border-radius: 50%;

        border: 1px solid #639745;
        padding: 2px;
      "
    />
    <h3 style="margin-left: 20px; padding-top: 1rem">
      {{ reclamation.citoyen.username }}
    </h3>
  </div>

  <div style="position: relative; flex-grow: 1">
    <div style="display: flex; flex-direction: row; margin-top: 1rem">
      <div class="image-container" style="margin-top: 20px">
        <img
          [src]="reclamation.imageURL"
          alt="Reclamation Image"
          style="max-width: 100%; height: auto; object-fit: contain"
          (error)="onImageError($event)"
        />
      </div>
      <div style="flex-grow: 1">
        <h3>Description</h3>
        <p style="color: #797878">
          {{ reclamation.description }}
        </p>
        <h3>Catégorie</h3>
        <mat-form-field
          class="styled-form-field"
          appearance="outline"
          style="width: 100%"
          *ngIf="reclamation.etat == 'Pending'"
        >
          <mat-label>Choisir un fournisseur</mat-label>
          <mat-select [(value)]="selectedValue">
            <mat-option
              *ngFor="let fournisseur of fournisseurs"
              [value]="fournisseur._id"
              [disabled]="fournisseur.active === true"
              >{{ fournisseur.slug }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <p style="color: #797878" *ngIf="reclamation.etat !== 'Pending'">
          {{ reclamation.categorie }}
        </p>

        <div *ngIf="reclamation.etat == 'Pending'">
          <h3>Note Responsable</h3>
          <textarea
            id="userInput"
            rows="4"
            cols="50"
            placeholder="Tapez ici..."
            class="styled-textarea"
            [(ngModel)]="noteResponsable"
          ></textarea>
        </div>
      </div>
    </div>
    <div style="padding: 1rem">
      <span
        style="
          display: flex;
          flex-direction: row;
          align-content: center;
          padding-bottom: 1rem;
        "
      >
        <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
          >account_circle</mat-icon
        >
        <p style="margin-bottom: 0; padding-top: 2px; padding-left: 8px">
          {{ reclamation.localisation }}
        </p></span
      >
      <span
        style="
          display: flex;
          flex-direction: row;
          align-content: center;
          padding-bottom: 1rem;
        "
      >
        <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
          >account_circle</mat-icon
        >
        <p style="margin-bottom: 0; padding-top: 2px; padding-left: 8px">
          {{ reclamation.categorie }}
        </p></span
      >
      <span style="display: flex; flex-direction: row; align-content: center">
        <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
          >account_circle</mat-icon
        >

        <p style="margin-bottom: 0; padding-top: 2px; padding-left: 8px">
          {{ reclamation.createdAt | date : "yyyy-MM-dd" }}
        </p></span
      >
    </div>
    <div style="position: absolute; bottom: 0px; right: 0">
      <button
        mat-stroked-button
        style="background-color: #639745"
        *ngIf="reclamation.etat !== 'InProgress'"
        (click)="UpdateReclamationStatus()"
      >
        <p
          style="
            color: white;
            margin-bottom: 0;
            padding-left: 4px;
            padding-right: 4px;
            border: 1px solid #639745;
          "
        >
          {{
            reclamation.etat === "Pending"
              ? "Confirmer"
              : reclamation.etat === "Done"
              ? "Vérifier"
              : ""
          }}
        </p>
      </button>

      <button
        mat-flat-button
        color="green"
        style="margin-left: 3px; border: 1px solid #639745"
        (click)="openDialog()"
        *ngIf="reclamation.etat !== 'InProgress'"
      >
        <p style="color: #639745; margin-bottom: 0">
          {{ reclamation.etat === "Pending" ? "Abandonner" : "Archiver" }}
        </p>
      </button>
    </div>
  </div>
</div>
