<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="assets/logo.png" alt="Logo" style="height: 40px"></ion-img>
    </ion-buttons>

    <!-- Title in the center -->
    <ion-title>Baladiti</ion-title>

    <!-- Logout button on the right -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon
          slot="icon-only"
          name="log-out-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let item of items"
        [routerLink]="['/reclamation-detail', item.id]"
      >
        <ion-label>
          <h2>{{ item.name }}</h2>
          <ion-badge [color]="getStatusColor(item.status)">
            {{ item.status }}
          </ion-badge>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Empty state message -->
    <div
      class="empty-state"
      *ngIf="items.length === 0"
      style="padding-left: 20px"
    >
      <ion-text color="medium">
        <h4>Aucune reclamation.</h4>
      </ion-text>
    </div>
  </ion-content>
</ion-content>
