.responsive-image {
  width: 100%;
  height: auto;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

ion-textarea {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #e7ebee;
  border-radius: 10px;
  outline: none;

  background: none;
  z-index: 1;
  color: #41464e;
}

ion-textarea:focus {
  border-color: #61c569;
}
