<div class="dialog-fournisseur-container">
  <mat-form-field appearance="fill">
    <mat-label>Slug</mat-label>
    <input matInput (change)="getSlug($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput (change)="getEmail($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" (change)="getPassword($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categorie</mat-label>
    <mat-select [(value)]="categorie">
      <mat-option value="Nettoyage">Nettoyage</mat-option>
      <mat-option value="Eclairage">Eclairage</mat-option>
      <mat-option value="Batiment">Batiment</mat-option>
      <mat-option value="Autre">Autre</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="categorie === 'Autre'" appearance="fill">
    <mat-label>Précisez la catégorie</mat-label>
    <input matInput (change)="getCategorieAutre($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Adresse</mat-label>
    <input matInput (change)="getAdresse($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telephone</mat-label>
    <input matInput (change)="getPhone($event)" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Municipalité</mat-label>
    <mat-select [(value)]="selectedMunicipalite">
      <mat-option *ngFor="let m of municipalites" [value]="m._id">
        {{ m.region }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      rows="3"
      (change)="getDescription($event)"
      required
    ></textarea>
  </mat-form-field>
  <div class="dialog-fournisseur-actions">
    <button
      mat-stroked-button
      style="background-color: #639745; color: #fff; border: 1px solid #639745"
      (click)="ajoutFournisseur()"
      mat-dialog-close
    >
      Ajouter
    </button>
    <button
      mat-flat-button
      style="color: #649745; border: 1px solid #639745; background: #f5f5f5"
      mat-dialog-close
    >
      Annuler
    </button>
  </div>
</div>
