<div
  class="card-container"
  style="
    display: flex;
    flex-wrap: wrap;

    padding: 2rem;
    justify-content: center;
    justify-items: center;
  "
>
  <div class="card" style="flex-basis: 40%; background-color: #a18167">
    <div class="additional">
      <div class="user-card">picture</div>
    </div>
    <div class="general">
      <h1>Jane Doe</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
        volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut
        pulvinar.
      </p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>

  <div class="card" style="flex-basis: 40%">
    <div class="additional">
      <div class="user-card">picture</div>
    </div>
    <div class="general">
      <h1>Jane Doe</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
        volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut
        pulvinar.
      </p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>

  <div class="card" style="flex-basis: 40%">
    <div class="additional">
      <div class="user-card">picture</div>
    </div>
    <div class="general">
      <h1>Jane Doe</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
        volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut
        pulvinar.
      </p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
  <div class="card" style="flex-basis: 40%">
    <div class="additional">
      <div class="user-card">picture</div>
    </div>
    <div class="general">
      <h1>Jane Doe</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
        volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut
        pulvinar.
      </p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
</div>
