<div
  style="
    width: 80%;
    padding: 1rem;

    border-width: 2px;
    box-shadow: 5px 5px 5px 5px rgb(175, 163, 163);
    border-radius: 3%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: white;
  "
>
  <div
    style="display: flex; flex-direction: row; border-bottom: 1px solid #639745"
  >
    <img
      src="../../../assets/utilisateur.png"
      style="
        height: 50px;
        width: 50px;
        margin-bottom: 1rem;
        border-radius: 50%;

        border: 1px solid #639745;
        padding: 2px;
      "
    />
    <h3 style="margin-left: 20px; padding-top: 1rem">
      {{ reclamation }}
    </h3>
  </div>

  <div style="position: relative; flex-grow: 1; padding-left: 2px">
    <table mat-table [dataSource]="dataSource" style="width: 50rem">
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder">Citoyen</h4>
        </th>
        <td mat-cell *matCellDef="let element">
          <img src="../../../../assets/utilisateur.png" style="width: 30px" />
        </td>
      </ng-container>
      <ng-container matColumnDef="citoyen">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder">name</h4>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.citoyen.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="categorie">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder">categorie</h4>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.categorie }}</td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder">etat</h4>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.etat }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder">date</h4>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: "yyyy-MM-dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h4 style="font-weight: bolder"></h4>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-flat-button
            color="green"
            style="margin-left: 3px; border: 1px solid #639745"
          >
            <p style="color: #639745; margin-bottom: 0">Supprimer</p>
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
