.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px 8px;

  .top-card {
    width: 100%;
    margin-bottom: 16px;
  }

  .mat-elevation-z8 {
    width: 100%;
  }

  table {
    width: 100%;
  }

  th h4,
  td {
    padding: 8px;
    text-align: left;
  }
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}
table.full-width {
  margin-top: 24px;
}
