<div
  style="
    border-radius: 10px;
    background: #fff;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(99, 151, 69, 0.08);
    max-width: 900px;
    margin: 32px auto;
  "
>
  <h2 style="color: #649745; margin-bottom: 24px">Liste des Municipalités</h2>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Région</th>
      <td mat-cell *matCellDef="let element">{{ element.region }}</td>
    </ng-container>
    <!-- Adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell *matCellDef="let element">{{ element.adresse }}</td>
    </ng-container>

    <!-- Actions Column (optional, for edit/delete) -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['/municipality-details', element._id]"
          routerLinkActive="active"
        >
          <button
            mat-flat-button
            color="green"
            style="margin-left: 3px; border: 1px solid #639745"
          >
            <p style="color: #639745; margin-bottom: 0">Consulter</p>
          </button></a
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
