<ion-content>
  <h1 style="padding-left: 20px; margin-top: 20px">Créer un nouveau compte,</h1>
  <h3 style="padding-left: 20px">S'inscrire à Baladiti'!</h3>

  <form #myForm="ngForm" (ngSubmit)="onSignup()" style="margin-top: 30px">
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Nom utilisateur</ion-label
      >
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="username"
        [(ngModel)]="signUpInfo.username"
        type="text"
        required
      ></ion-input>
    </div>
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''">Email</ion-label>
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="email"
        [(ngModel)]="signUpInfo.email"
        type="text"
        required
      ></ion-input>
    </div>
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Mot de passe</ion-label
      >
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="password"
        [(ngModel)]="signUpInfo.password"
        type="password"
        required
      ></ion-input>
    </div>
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Adresse postale</ion-label
      >
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="address"
        [(ngModel)]="signUpInfo.address"
        type="text"
        required
      ></ion-input>
    </div>
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Téléphone</ion-label
      >
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        name="phone"
        [(ngModel)]="signUpInfo.phone"
        type="text"
        required
      ></ion-input>
    </div>
    <ion-button type="submit">Créer un compte</ion-button>
  </form>
  <p class="footer-text" style="margin-top: 20px">
    Je suis un utilisateur, <a [routerLink]="['/login']">Se connecter</a>
  </p>
</ion-content>
