<app-explore-container name="Tab 3 page"></app-explore-container>

<ion-content class="ion-padding">
  <h1>
    Bienvenue,
    <h3>Se connecter à Baladiti!</h3>
  </h1>

  <form [formGroup]="loginForm" #myForm="ngForm" (ngSubmit)="onLogin()">
    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''">Email</ion-label>
      <ion-input
        (focus)="focused = true"
        (blur)="onBlur($event)"
        type="text"
        [(ngModel)]="loginData.email"
        name="email"
        formControlName="email"
        required
      ></ion-input>
    </div>
    <div
      class="validation-error"
      style="margin-bottom: 20px"
      *ngIf="email?.touched && email?.errors"
    >
      <ion-text color="danger" *ngIf="email?.errors?.['required']">
        Email est obligatoire
      </ion-text>
      <ion-text color="danger" *ngIf="email?.errors?.['email']">
        Le format n'est pas valide
      </ion-text>
    </div>

    <div class="form-field">
      <ion-label [ngClass]="focused ? 'label-focused' : ''"
        >Mot de passe</ion-label
      >
      <ion-input
        (focus)="focused"
        (blur)="onBlur($event)"
        type="password"
        [(ngModel)]="loginData.password"
        name="password"
        formControlName="password"
        required
      ></ion-input>
    </div>

    <div class="validation-error" *ngIf="password?.touched && password?.errors">
      <ion-text color="danger" *ngIf="password?.errors?.['required']">
        Password est obligatoire
      </ion-text>
      <ion-text color="danger" *ngIf="password?.errors?.['minlength']">
        le mot de passe doit être au minimum 4 characters
      </ion-text>
    </div>

    <p
      style="margin-top: 10px; padding-left: 5px; color: brown"
      *ngIf="errorMessage"
    >
      {{errorMessage}}
    </p>

    <ion-button type="submit" [disabled]="loginForm.invalid"
      >Se connecter</ion-button
    >
  </form>

  <p class="footer-text">
    Créer un nouveau compte, <a [routerLink]="['/signup']">S'inscrire</a>
  </p>
</ion-content>
