<div style="border-radius: 10px">
  <button
    style="
      border: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    "
  >
    <img
      src="../../../assets/ajouter.png"
      style="width: 30px; height: 30px"
      alt="Ajouter Fournisseur"
    />
    <p style="margin-bottom: 0; margin-left: 8px; color: #59b778">
      Ajouter Fournisseur
    </p>
  </button>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">Fournisseur</h4>
      </th>
      <td mat-cell *matCellDef="let element">
        <img src="../../../assets/fournisseur.png" style="width: 50px" />
      </td>
    </ng-container>
    <ng-container matColumnDef="slug">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">Categorie</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">email</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">statue</h4>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.active ? "Desactivé" : "Activé" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">phone</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['/details-fournisseur', element._id]"
          routerLinkActive="active"
        >
          <button mat-stroked-button style="background-color: #639745">
            <p
              style="
                color: white;
                margin-bottom: 0;
                padding-left: 4px;
                padding-right: 4px;
                border: 1px solid #639745;
              "
            >
              Voir plus
            </p>
          </button></a
        >
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
