<div style="border-radius: 10px">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">Fournisseur</h4>
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3048/3048122.png"
          style="width: 50px"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="slug">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">Categorie</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">email</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">phone</h4>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <h4 style="font-weight: bolder">Action</h4>
      </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/details', element._id]" routerLinkActive="active">
          <button mat-stroked-button style="color: #385f45">Modifier</button></a
        >
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
