<ion-header>
  <ion-toolbar>
    <ion-title> Ionic Form </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Welcome,</h1>
  <h3>Sign in to continue!</h3>

  <form>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input name="Email ID"></ion-input>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input name="Password" type="Password"></ion-input>

    <ion-button label="Login">Login</ion-button>
  </form>

  <p class="footer-text">I'm a new user, <a routerLink="#">Sign Up</a></p>
</ion-content>
