<div
  style="
    width: 90%;
    padding: 1rem;
    height: 90%;
    border-width: 2px;
    box-shadow: 5px 5px 5px 5px rgb(175, 163, 163);
    border-radius: 3%;
    margin: auto;
    background-color: white;
  "
>
  <div class="dashboard-cards">
    <div class="dashboard-card orange">
      <div class="alert">
        <span
          >Nomrbre de réclamation qui sont en attente : {{ PendingCount }}</span
        >
      </div>
      <button mat-stroked-button [routerLink]="['/reclamations']">
        <p>Voir plus</p>
      </button>
    </div>
    <div class="dashboard-card green">
      <div class="alert">
        <span
          >Nomrbre de réclamation qui sont en cours de traitement :
          {{ InProgressCount }}</span
        >
      </div>
      <button mat-stroked-button [routerLink]="['/reclamations']">
        <p>Voir plus</p>
      </button>
    </div>
    <div class="dashboard-card blue">
      <div class="alert">
        <span>Nomrbre de réclamation qui sont traitées : {{ DoneCount }}</span>
      </div>
      <button mat-stroked-button [routerLink]="['/reclamations']">
        <p>Voir plus</p>
      </button>
    </div>
  </div>
</div>
