<mat-nav-list style="padding: 20px">
  <div class="profile-card">
    <img
      src="../../../../assets/logo.png"
      alt="Haifa Bellasfer"
      style="width: 10rem"
    />
    <div class="header">
      <h2 style="font-family: 'Verdana', serif">{{ responsables }}</h2>
    </div>
  </div>

  <mat-divider style="border-color: #639745"></mat-divider>

  <h2 matSubheader>Menu</h2>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard"
    class="list-group-item"
  >
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >dashboard</mat-icon
    >
    Dashboard</a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/reclamations"
    class="list-group-item"
  >
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >account_circle</mat-icon
    >
    Liste Reclamations</a
  >

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/fournisseur"
    class="list-group-item"
  >
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >format_list_bulleted</mat-icon
    >Fournisseur
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/archive"
    class="list-group-item"
    ><mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >archive</mat-icon
    >
    Archive</a
  >

  <button
    mat-stroked-button
    (click)="logOut()"
    style="border: 0; margin-top: 5px"
  >
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >person_outline</mat-icon
    >
    Sign out
  </button>
</mat-nav-list>
