<mat-nav-list>
  <div class="profile-card">
    <img
      src="https://i.graphicmama.com/uploads/2019/5/5cf0c6099afbc-little-business-girl-cartoon-vector-character.png"
      alt="Haifa Bellasfer"
    />
    <div class="header">
      <h2>Haifa Bellasfer</h2>
      <h4>haifa@email.com</h4>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >dashboard</mat-icon
    >
    Dashboard</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >account_circle</mat-icon
    >
    Profile</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >format_list_bulleted</mat-icon
    >
    Liste Reclamations</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"
    ><mat-icon aria-hidden="false" aria-label="format_list_bulleted"
      >archive</mat-icon
    >
    Archive</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
